<!DOCTYPE html>
<html>
<head>
    <title>SmartTech Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">

    <div class="history-panel">
        <h3>Conversation History</h3>
        <ul id="history-list"></ul>
    </div>

    <div class="chat-container">
        <div class="chat-logo">
            <img src="/static/image/logo-text.png" alt="SmartTech Chatbot logo" />
        </div>
        <div id="chat-box"></div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Type a message...">
            <button onclick="sendMessage()">Send</button>
            <button onclick="resetChat()">Reset</button>
        </div>
    </div>
</div>

<script src="/static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>